
#event-title {
    color: rgb(252, 252, 252) !important;
    text-shadow: 2px 2px rgb(0, 0, 0);
    padding-bottom: 30px;
}



.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

.bg-overlay {
    background: linear-gradient(rgba(78, 78, 256, 0.5), rgba(256, 256, 256, 0.2)), url("../images/achievements/alumni_bg.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: auto;
    padding-top: 50px;
}

.dashboard-cards {
    position: relative;
    padding-bottom: 20px;
    margin: 0 !important;
    color: black;
    border-radius: 20%;
}

.dashboard-cards .card {
    background: #fff;
    display: inline-block;
    -webkit-perspective: 1000;
    perspective: 1000;
    padding: 0 !important;
    margin: 20px 50px 20px 50px;
    position: relative;
    -webkit-transition: all 0.3s 0s ease-in;
    transition: all 0.3s 0s ease-in;
    max-width: 90%;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Arvo", serif;
    font-weight: 700;
    width: 20vw;
    z-index: 1;
}
.dashboard-cards .card .image_container{
    width: 175px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid rgb(18, 62, 145);
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}
.dashboard-cards .card .image_container img{
    height: 180px;
    width: 180px;
    object-fit: cover;
}
.dashboard-cards .card:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    transition: all 0.3s ease;
}

.dashboard-cards .card .card-title {
    background: #dcf0ef;
    background: #fff;
    padding: 20px 15px;
    position: relative;
    z-index: 0;
}

.dashboard-cards .card .card-title h2 {
    font-size: 30px;
    letter-spacing: -0.05em;
    margin: 0;
    padding:0 ;
}

.dashboard-cards .card .card-title h2 small {
    display: block;
    font-size: 24px;
    margin-top: 8px;
    letter-spacing: -0.025em;
}

.dashboard-cards .card a:hover,
.dashboard-cards .card a:focus {
    color: black;
    text-decoration: none;
}

.dashboard-cards .card .card-description {
    position: relative;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border-top: 1px solid #ddd;
    padding: 10px 15px 0 15px;
}

.dashboard-cards .card .card-flap {
    background: #ffffff;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    width: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}

.dashboard-cards .card .flap1 {
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}

.dashboard-cards.showing .card {
    cursor: pointer;
    /* opacity: 0.87; */
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
}

.dashboard-cards .card.d-card-show {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

.dashboard-cards .card.d-card-show .card-flap {
    opacity: 1;
    background: #ffffff;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.dashboard-cards .card.d-card-show .flap1 {
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

.dashboard-cards .card-actions .btn {
    color: #fff;
    font-size: 14px;
}

.dashboard-cards .card-actions .btn:hover {
    background-color: #5bd0a4 !important;
}


#mainevents {
    max-width: 100vw !important;
}

