@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");

body {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 128, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", sans-serif;
	color: #000;
	font-weight: 300;
}

h1 {
	font-size: 45px;
	line-height: 61px;
}

h2 {
	font-size: 40px;
	line-height: 50px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

p,
li,
blockquote,
label {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 25px;
	color: #808080;
	margin-bottom: 0;
}

cite {
	font-size: 14px;
	font-style: normal;
}

.lora {
	font-family: "Lora", serif;
	font-style: italic;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.4);
}

#logo-part {
	position: absolute;
	width: 100%;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.4);
}

#navbar-part {
	top: 81px;
}

.navbar-brand:hover {
	color: inherit;
}

.form-control::-webkit-input-placeholder {
	color: #808080;
	line-height: 25px;
	font-size: 16px;
}

ul.app-badge {
	margin-bottom: 60px;
}

ul.app-badge li a img {
	width: 150px;
	height: auto;
}

#hero .hero-container .underline{
	background-color: #fff;
	height: 1px;
	width: 40%;
	}

@media (max-width: 1024px) {
	#hero .hero-container .underline{
		width: 60%;
		}
}
@media (max-width: 768px) {
	#hero .hero-container .underline{
		width: 70%;
	  }
}
@media (max-width: 400px) {
	ul.app-badge li {
		margin-bottom: 10px;
	}
	#hero .hero-container .underline{
		width: 75%;
	  }
}


ul.post-tag {
	margin-bottom: 20px;
}

ul.post-tag li {
	font-size: 14px;
}

ul.post-tag li img {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	margin-right: 5px;
}

ul.post-tag li a {
	font-size: 14px;
}

ul.post-tag li:last-child {
	margin-left: 25px;
}

ul.social-links {
	margin-bottom: 0;
}

ul.social-links li:first-child a {
	padding-left: 0;
}

ul.social-links li a {
	padding: 0 15px;
	display: block;
}

ul.social-links li a i {
	font-size: 20px;
	color: #000;
}

body {
	overflow-x: hidden;
}
.site-heading {
	position: absolute;
	top: 400px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	z-index: 2;
}

.site-heading h1 {
	font-family: "Monoton";
	color: white;
}

.shadow,
.service .service-box,
.founder img,
.team-sm .image img,
.job-list .block,
.privacy .block,
.user-login .block .image img,
.coming-soon .block .count-down .syotimer-cell {
	box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.08);
}

.overlay:before {
	content: '';
	background: rgba(105, 140, 230, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

a {
	font-size: inherit;
	color: inherit;
}

a:focus,
a:hover {
	color: #2e7eed;
	text-decoration: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/bg.jpg") top center;
    background-size: cover;
    position: relative;
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.418);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
  #hero h4 {
    color: #fff;
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
 }
/* ------------ hero ends ------------*/

#content{
	margin:auto;
	margin-top: 2%;
	width:100%;
	max-width: 1000px;
	text-align:center;
}
#content p{
	font-family:'Times New Roman', Times, serif;
	color: #000;
	font-size:calc(6px + 1vw);
}

.more {display: none;}
.dots { color: rgb(0, 81, 255);}
.readMoreBtn {
	background-color: #ffffff; /* Green */
	border: none;
	color: rgb(0, 81, 255);
	text-align: center;
	display: inline-block;
	font-size: 0.8em;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: underline;
}


/* ----------- image carousel -------------*/

 /*to control size of carousel*/

 #carouselExampleControls{
	margin: 5% auto;
	margin-bottom: 1%;
	width: 70%;
	align-self: center;
	height: auto;}

  /*to control size of img in carousel*/
.carousel-item, img{
	width: 100%;
	max-height: 500px;
	/* /border-radius: 5%; */
} 
.carousel-control-prev .carousel-control-prev-icon {
	margin-left: -300px;
	width: 40px;
	height: 40px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2b2e' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next .carousel-control-next-icon {
    margin-right: -300px;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2b2e' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
@media (max-width: 768px) {
	.carousel-control-prev .carousel-control-prev-icon {
	  margin-left: 0;
	  width: 40px;
	  height: 40px;
	  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fcfcf7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
	}
	.carousel-control-next .carousel-control-next-icon {
	  margin-right: 0;
	  width: 40px;
	  height: 40px;
	  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fcfcf7' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
  }
  }
#gymkhana {
	color:#000;
	text-align: right;
	margin-right:3%;
	margin-top: 10px ;
	margin-bottom: 2%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 80%;
	
}
#gymkhana a{
	color:blue;
	text-decoration:none;
}