@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
 
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 128, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar {
  background-color: rgba(255, 255, 255, 0.4);
}

#logo-part {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.4);
} 

#navbar-part {
  top: 81px;
}

.navbar-brand:hover {
  color: inherit;
}

.mr-auto h1 {
  font-size: 25px;
  font-family: 'Arya', sans-serif;
  flex-shrink: 0;
}

.nav-link {
  color: black !important;
}

.is-sticky .nav-link {
  color: white !important;
}

@media (max-width: 550px) {
  .mr-auto h1 {
    font-size: 18px;
  }
}

.mr-auto h1::before {
  content: "INDIAN INSTITUTE OF TECHNOLOGY MANDI";
  animation: animate infinite 8s;
  padding-left: 10px;
}

@keyframes animate {

  0% {
    content: "INDIAN INSTITUTE OF TECHNOLOGY MANDI";
  }

  50% {
    content: "भारतीय प्रौद्योगिकी संस्थान मंडी ";
  }
}

.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
}

.site-navbar-wrap a {
  color: #fff;
}

.site-navbar-top {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.site-navbar {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0px;
}

.site-navbar .site-logo {
  font-weight: 200;
  line-height: 0;
  top: -7px;
  position: relative;
}

.site-navbar .site-logo a {
  font-weight: 200;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navbar .site-logo a:hover {
  font-weight: 200;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
    .site-navbar{
      background-color: rgba(255, 255, 255,1);
    }
    #logo-part{
      background-color: rgba(255, 255, 255,1);
    }
  }

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  font-weight: 500;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
  padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu>li>a {
  padding: 20px 10px;
  color: black;
  font-size: 15px;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a.active {
  color: black;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color: rgb(85, 85, 85);
}

.site-navbar .site-navigation .site-menu>li:last-child {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu>li:last-child>a {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Arya';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border-radius: 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
  color: #fff !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li:first-child>a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li:last-child>a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  background: #ebeef0;
  color: #212529;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background: #ebeef0;
  color: #212529;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #dee2e6;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a.active,
.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "Arya";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: 16px;
  padding-left: 60px;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper+.site-blocks-cover {
  margin-top: 96px;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar ul li.active a {
  color: #fff;
}

.sticky-wrapper.is-sticky .site-navbar {
  background-color: #007bff;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li {
  display: inline-block;
  padding: 10px 5px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li:last-child {
  padding-right: 0;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li:last-child>a {
  padding-right: 0;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li.has-children>a {
  padding-right: 20px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li>a {
  padding: 10px 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li>a:hover {
  color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li>a.active {
  color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu>li.active a {
  color: #fff;
}

.dropdown-submenu.active>a,
.dropdown-submenu:hover>a {
  color: #2e7eed;
}

.dropleft .dropdown-menu,
.dropright .dropdown-menu {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before,
.dropright .dropdown-toggle::after {
  font-weight: bold;
  font-family: "themify";
  border: 0;
  font-size: 8px;
  vertical-align: 1px;
}

.dropleft .dropdown-toggle::before {
  content: "\e64a";
  margin-right: 5px;
}

.dropright .dropdown-toggle::after {
  content: "\e649";
  margin-left: 5px;
}
  
.footer-main {
  padding: 92px 0;
  background: #1a1b1f;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-main {
    padding: 50px 0;
  }
}

.footer-main .block img {
  margin-bottom: 20px;
}

.footer-main .block img #small-Apps {
  fill: red;
}

.footer-main .block ul.social-icon li a {
  text-decoration: none;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background: #3f3f43;
  color: #fff;
  text-align: center;
  line-height: 38px;
}

@media (max-width: 768px) {
  .footer-main .block {
    margin-bottom: 40px;
  }
}

.footer-main .block .address {
  font-size: 12px;
  color: #6f6f71;
}

.footer-main .block .address a:hover {
  font-size: 12px;
  color: #ffffff;
}

.footer-main .block-2 h6 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}

.footer-main .block-2 ul {
  padding: 0;
}

.footer-main .block-2 ul li {
  margin-bottom: 10px;
  list-style: none;
}

.footer-main .block-2 ul li a {
  font-size: 14px;
  color: #6f6f71;
  transition: .2s ease;
  text-decoration: none;
}

.footer-main .block-2 ul li a:hover {
  color: #fff;
}

.footer-classic {
  background: #fafafa;
  text-align: center;
  padding: 110px 0;
}

.footer-classic ul.social-icons {
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .footer-classic ul.social-icons li {
    margin-bottom: 10px;
  }
}

.footer-classic ul.social-icons li a {
  padding: 0 20px;
  display: block;
}

.footer-classic ul.social-icons li a i {
  font-size: 25px;
  color: #000;
}

.footer-classic ul.footer-links li a {
  padding: 0 10px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}

.social-links:hover .ti-facebook {
  color: rgb(66, 103, 178);
}

.social-links:hover .ti-twitter {
  color: rgb(29, 161, 242);
}

.social-links:hover .ti-instagram {
  color: rgb(255, 80, 80);
}

.icon-box {
  height: 80px;
  width: 80px;
  text-align: center;
  background: #2e7eed;
}

.icon-box i {
  line-height: 80px;
  font-size: 30px;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #26a6bd;
  margin: 1em 0;
  padding: 0;
}

.footer-img{
  max-width: 370px;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-0%);
}

  