.modal-dialog {
    height:5%;
    width: 50%;
    margin: auto
    padding : 30% 30%;
}

.modal-header {
    color: white;
    background-color: #007bff
}

textarea {
    border: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    outline: 0px !important
}

.openmodal {
    position : fixed;
    right :0;

    margin-right :-50px;
    transform: rotate(270deg);

    margin-top: 22%
}

.icon1 {
    color: #007bff
}

a {
    margin: auto
}

input {
    color: #007bff
}


/**/stars

.stars {
    width: 270px;
    display: inline-block;

    /* text-align: center; */
    /* margin-left: 0px; */
}

@media only screen and (max-width: 768px) {
  .stars {
      width: 320px;

  }
}

.mt-200 {
    margin-top: 200px;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    padding-top: 0px;
    font-size: 20px;
    color: black;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px black;
}

input.star-1:checked~label.star:before {
    color: #F62
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3)
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome
}
.Message{
  background-color: #E6E6E6;
  padding: 5%;
  padding-top: 2%;
  width: 370px;

}
.field{
  text-align: left;

}
.asterisk{
  color: red;
}
